.image {
  display: flex;
  justify-content: center;
  background: #679cf6 16.67%;
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}
.form1 {
  position: absolute;
  width: 611px;
  height: 832px;
  left: 50.9%;
  right: 6.67%;
  top: 9.38%;
  bottom: 9.38%;
  background: #1f2327;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.form2 {
  position: absolute;
  height: 512px;
  width: 451px;
  left: 873px;
  top: 200px;
  border-radius: 5px;
  background: #292e33;
  margin-top: 50px;
}
.email1 {
  color: #748aa1;
  top: 320px;
  left: 903px;
  position: absolute;
  font-size: 14px;
}
.email2 {
  box-sizing: border-box;
  position: absolute;
  left: 58.54%;
  right: 14.31%;
  top: 49.04%;
  /* bottom: 58.98%; */
  height: 51px;
  width: 25%;
  border: 2px solid #33393f;
  border-radius: 4px;
  background-color: transparent;
  color: white;
}
.city1 {
  color: #748aa1;
  top: 570px;
  left: 903px;
  position: absolute;
}
.city2 {
  box-sizing: border-box;
  position: absolute;
  height: 51px;
  width: 180px;
  left: 58.7%;
  /* padding-right: 500px; */
  /* bottom: 903px; */
  top: 600px;
  border-radius: 5px;
  color: white;
  background: #292e33;
  border: 1px solid #33393f;
  border-radius: 5px;
}
.zip1 {
  position: absolute;
  color: #748aa1;
  top: 570px;
  left: 1115px;
}
.zip2 {
  box-sizing: border-box;
  position: absolute;
  background: #292e33;
  border: 1px solid #33393f;
  /* border-radius: 5px; */
  /* outline-color: #33393f; */
  color: white;
  height: 51px;
  width: 180px;
  left: 72.25%;
  top: 600px;
  border-radius: 5px;
}
.submit {
  position: absolute;
  font-size: 17px;
  left: 58.5%;
  top: 64.84%;
  bottom: 30.18%;
  background: #29cb97;
  color: white;
  height: 51px;
  width: 391px;
  top: 670px;
  border-radius: 5px;
  border-color: #29cb97;
}
.span1 {
  position: absolute;
  font-family: "Roboto";
  font-style: none;
  font-weight: 400;
  font-size: 48px;
  line-height: 68px;
  color: #ffff;
  height: 70px;
  /* left: 70.4%; */
  left: 58%;
  top: 140px;
}
.span2 {
  height: 100px;
  position: absolute;
  width: 240px;
  left: 850px;
  top: 210px;
  color: #748aa1;
  left: 890px;
}
.select {
  box-sizing: border-box;
  position: absolute;
  background: #292e33;
  border: 1px solid #33393f;
  border-radius: 5px;
  color: white;
  height: 51px;
  width: 391px;
  left: 58.5%;
  top: 450px;
  border-radius: 5px;
}
/* .input-control {
  display: flex;
  flex-direction: column;
} */
.password2 {
  top: 100%;
}
.change1 {
  height: 100px;
  position: absolute;
  width: 240px;
  left: 900px;
  top: 420px;
  color: #748aa1;
}
.fb-1 {
  position: absolute;
  height: 60px;
  width: 204px;
  left: 872px;
  top: 780px;
  border-radius: 5px;
  font-size: 17px;
  text-align-last: center;
  align-self: center;
  line-height: 59px;
  color: white;
  background: #255b9b;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-decoration: none;
}
.fb-2 {
  position: absolute;
  height: 60px;
  width: 204px;
  right: 213px;
  top: 780px;
  border-radius: 5px;
  font-size: 17px;
  text-align-last: center;
  align-self: center;
  line-height: 59px;
  color: white;
  background: #00adee;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-decoration: none;
}
.input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  /* width: 10%; */
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}
